<h1>How Hot Is It?</h1>

<div>
  <%= link_to 'Manage heat ranges', heat_ratings_url %>
</div>

<div>
  <%= link_to 'Get a forecast', new_forecast_url %>
</div>

<% if @forecasts.present? %>
  <table>
    <thead>
      <tr>
        <th>Postcode</th>
        <th>Rating</th>
      </tr>
    </thead>

    <tbody>
      <% @forecasts.each do |forecast| %>
        <tr>
          <td><%= forecast.postcode %></td>
          <td><%= forecast.heat_rating %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
<% end %>
